/*fonts
	font-family: 'Asap', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Abril Fatface', cursive;
	font-family: 'Shadows Into Light', cursive;
	font-family: 'Comfortaa', cursive;
	font-family: 'Overpass', sans-serif;*/

:root {
	/*colors*/
	--font-color: hsl(56, 0%, 39%);
	--content-bg: hsl(56, 12%, 97%);
	--main : hsl(149, 34%, 43%);
}

/*BODY - any styling that is streamlined*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	color: var(--font-color);
	font-family: 'Asap', sans-serif;
}

section {
	height: auto;
	padding: 0px 35px;
}
@media (max-width: 300px) {
	section {
		padding: 0px 8px;
	}
}

a {
	font-family: 'Comfortaa', cursive;
	text-decoration: none;
	color: var(--font-color);
}
a:hover {
	text-decoration: underline;
}

/* for all buttons EXCEPT the text-align:center of the the first button in the header*/
button {
	display: block;
	border: none;
	border-radius: 15px;
	height: 30px;
	width: auto;
	min-width: 100px;
	padding: 0px 10px;
	margin: 15px 0px;
	background: var(--main);;
	color: white;
	font-size: 15px;
}
button:hover {
	box-shadow: 0px 8px 20px 0px var(--main);
}

.font-bold {
	font-weight: 700;
}


/*HEADER*/
nav {
	height: 50px;
}
ul {
	list-style: none;
	text-align: center;
	margin: 20px auto;
}
li {
	display: inline;
	margin: 5px;
	padding: 5px;
	font-size: 18px;
	font-weight: 700;
}
@media (max-width: 528px) {
	li {
		line-height: 40px;
	}
}
#header-text {
	width: 100%;
	height: 150px;
	text-align: center;
	margin: 200px 0px;
}
@media (max-width: 465px) {
	#header-text {
		margin-bottom: 280px;
	}
}
@media (max-width: 288px) {
	#header-text {
		margin-bottom: 320px;
	}
}
@media (max-width: 248px) {
	#header-text {
		margin-bottom: 400px;
	}
}
@media (max-width: 206px) {
	#header-text {
		margin-bottom: 520px;
	}
}
@media (max-width: 175px) {
	#header-text {
		margin-bottom: 560px;
	}
}
.heading {
	font-family: 'Abril Fatface', cursive;
	font-size: 60px;
	margin-bottom: 0px;
}
.sub-heading {
	font-size: 35px;
	margin-top: -18px;
	color: var(--main);
}
.sub-sub-heading {
	font-family: 'Comfortaa', cursive;
	font-size: 20px;
	margin: 40px;
}

header button {
	height: 50px;
	width: 25%;
	min-width: 150px;
	margin: 25px auto;
	padding: 5px;
	font-size: 30px;
	border-radius: 25px;
	background: var(--main);
}
/* drop down menu styling*/
.dropdown{
	display: inline-block;
	position: relative;
}

.dropdown-content{
	display: none;
	position: absolute;
	width: 120px;
	background: rgba(255,255,255, 0.8);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content li {
		line-height: 10px;
	}
.dropdown-content a{
	float: none;
	padding: 0px 5px;
	font-size: medium;
	font-weight: 100;
	text-decoration: none;
	display: block;
	color: color: var(--font-color);
}
.dropdown-content a:hover{
	color: rgba(80,88,88,0.7);
}
.dropdown:hover .dropdown-content{
	display: block;
	position: absolute;
}



/*MAIN*/

/* To get the stretched, curved look under the "header-text" content*/
.one { 
	background-color:  var(--content-bg); 
	width: 100%;
	height: 50px;
	border-radius: 100% 100% 0% 0%;
}
.content {
	background-color: var(--content-bg);
	height: auto;
}


/* responsive content boxes*/
.content-box {
	display: inline-block;
	background: white;
	box-shadow: 1px 1px 20px #888888;
	border-radius: 5px;
	width: 250px;
	height: auto;
	vertical-align: top;
	margin: 40px 15px;
	padding: 10px;
	text-align: left;
	line-height: 30px;
}
@media (max-width: 300px) {
	.content-box{
		margin: 40px 0px;
		width: 100%;
	}
}
.box-container {
	text-align: center;
	margin: 50px 0px;
}
/* for the stretch curve under the "content boxes" container*/
.two {
	border-radius: 0% 0% 100% 0%;
	height: 100px;
	margin-top: -50px;
	margin-bottom: 150px;
}

/*Testimonials*/
#testimonials {
	margin: 250px 0px;
}

.testimonial {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.testimonial h2 {
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	margin: 10px 0px;
}

.testimonial p {
	width: 50%;
	text-align: center;
	padding: 10px;
	margin-top: 40px;
	font-size: 18px;
}

/* could have also set min & max width amounts and width to 100% like the "#split-color p" which would eliminate the need for the media query below*/
@media (max-width: 300px) {
	.testimonial p {
		width: 100%;
	}
}

.testimonial img {
	 padding: 15px;
}

.quote {
	font-size: 25px;
	font-weight: bold;
	color: var(--main);
}

/* The dots/bullets/indicators */
#dots {
	text-align: center;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: gray;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: var(--main);
}


/* To get a differnt curved look under "hours" container */
.three {
	background: var(--main);
	border-radius: 100% 0% 0% 0%;
	height: 50px;
}
/*styling the office info*/
.office-info {
	color: white;
	text-align: center;
	padding: 100px 0px;
	font-size: 20px;
	background: var(--main);
}

.office-info p{
	padding: 5px 0px;
	word-wrap: break-word;
}
.right {
	float: right;
	text-align: left;
	padding-left: 5px;
	display: inline-block;
	width: 50%;
}
.left {
	clear: right;
	text-align: right;
	padding-right: 5px;
	display: inline-block;
	width: 50%;
}
@media (max-width: 240px) {
	.office-info {
		padding: 50px 0px;
		width: 100%;
		
	}
	.right {
		float: none;
		width: 100%;
		padding: 0px 8px;
	}
	.left {
		clear: none;
		text-align: left;
		width: 100%;
		padding: 0px 8px;
	}
}


/* for the stretch curve under the "contact" container*/
.four {
	background: var(--main);
	border-radius: 0% 0% 100% 100%;
	height: 50px;
}

/*FOOTER*/
footer {
	background: var(--font-color);
	margin-top: 100px;
	height: 120px;
	color: white;
}
@media (max-width: 160px) {
	footer {
		height: 150px;
	}
}
footer>p {
	padding: 10px;
}
footer a {
	color: white;
}

#split-color {
	background: linear-gradient(to bottom, white 0%,white 50%, var(--font-color) 50%, var(--font-color) 100%);
	text-align: center;
}
#split-color p {
	background:  var(--content-bg);
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 300px;
	min-width: 150px;
}
#footer-heading {
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
	margin-bottom: 0px;
	padding-top: 5px;
	color: var(--font-color);
	border-top: solid var(--font-color);
	border-left: solid var(--font-color);
	border-right: solid var(--font-color);
	border-bottom: none;
	/*border-radius: 100% 100% 0% 0%;  not sure if I want this*/
}
#footer-sub-heading {
	font-size: 15px;
	margin-top: -15px;
	padding-bottom: 5px;
	color: var(--main);
	border-top: none;
	border-left: solid var(--font-color);
	border-right: solid var(--font-color);
	border-bottom: solid var(--font-color);
	/*border-radius: 0% 0% 100% 100%; not sure if I want this*/
}
